
.main_body{
  position: relative;
  float: left;
  width: calc(100% - 300px);
  height: 100vh;
  
}
.container{
 
  display: flex;
  z-index: 0;
  margin: 0 auto;
  border-bottom :1px solid grey;
}

.headers {
  width: 100%;
  
  padding-left: 30px;
  
  &__name { 
    padding-top:35px;
    padding-bottom: 15px;

    color: #333333;
    font-size: 20px;
    
  }
  &__member{
    color: #999999;
    font-size: 12px;
   
  }
  
}

.f-container{
  float:right;
  
  
  display:flex;
  
  flex-direction:row; 
  

  &__top{
    margin: 28px 0 auto;
    padding: 5px 20px;
    color: rgb(0, 183, 255);
    border: 1px solid rgb(0, 183, 255);
    // width: calc(100% - 40px);

  }
  &__btn{
    // margin: 28px 0 auto;
    // padding: 5px 20px;
    color: rgb(0, 183, 255);
    // border: 1px solid rgb(0, 183, 255);
    // width: calc(100% - 40px);
    text-decoration: none;
  }
  &__right{
    
    height: 100%;
    width: 40px;

  }
  

}

.messages {
  position: absolute;
  bottom: 70px;
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100% - 169px);
  overflow: scroll;
  z-index: 2;
  width: 100%;
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: black;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color:#999999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: black;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
}

.form{
  position: absolute;
  bottom:0;
  
  background-color: #ddd;
  padding: 10px 0px 10px 40px;
  width: calc(100% - 40px);
  &__text{
    height: 50px;
    padding-right: 15px;
    width: 100%;
    float:left;
    display: flex;
    background-color: white;
  }
  
  &__message{
    width: 100%;
    padding-left: 10px;
    
    font-size: 16px;
    text-align: center;
    border:none;
    background:none;
    color: #434A54;
  }
  &__image{
    color: #999999;
  }
  
  &__send{
    float: right;
    height:50px;
    padding-right: 40px;
    padding-left: 15px;
    
    
  }
}

.text-line{
  width: 100%;
  border:none;
  background:none;
  line-height: 50px;
}

.file{
  display: none;
}
.icon{
  line-height: 50px;
  font-size: 30px;
}
.send{
  background-color: #38AEF0;
  color:white;
  
  font-size: 14px;
  padding: 10px;
  margin:  3.5px 0;
  
}
.new_message{
  display:flex;
}

